body {
	background-color: #caf4ff;
}

.main-contents {
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
	background-color: #caf4ff;
	height: 100%;
	width: 100%;

}
.content{
	margin-top: 8px;
	margin-bottom: 0px;
	margin-left: 220px;
	margin-right: 0px;
	background-color: #caf4ff;
	height: 100%;
	width: 75%;
}
.top-content{
	margin-top: 8px;
	margin-bottom: 0px;
	margin-left: 200px;
	margin-right: 0px;
	background-color: #caf4ff;
	height: 100%;
	width: 75%;
}
.management-content{
	margin-top: 8px;
	margin-bottom: 0px;
	margin-left: 220px;
	margin-right: 0px;
	background-color: #caf4ff;
	height: 100%;
	width: 75%;
}

.tweet-box {
	width: 600px;
 	height: 56px;
}
.text-box{
	width: 97%;
	height: 56px;
}
.title{
	font-size: 30px;
	font-weight: bold;
	line-height: 36px;
	height: 100%;
	width: 22%;
	margin-top: 45px;
	margin-right: 0px;
	margin-bottom: 10px;
	margin-left: 0px;
	border-bottom: solid #400080;
}
.errorMessages {
	list-style: none;
	text-decoration: none;
	margin-top: 50px;
	margin-right: 10px;
	margin-bottom: 10px;
	margin-left: 190px;
	color: red;
	border: ridge;
	border: solid #ff0909;
	border-radius: 40px;
	height: 42%;
	width: 60%;

}
.errorMessages li{
	margin-top: 10px;
	margin-right: 0px;
	margin-bottom: 10px;
	margin-left: 10px;
}

.header {
	list-style: none;
	/*position: absolute;*/
	position: fixed;
	top: 0px;
	z-index: 100;
	margin-top: 15px;
	margin-bottom: 0px;
	margin-left: 5px;
	margin-right: 0px;
	background-color: #caf4ff;
	height: 42%;
	width: 10%;


}
.header li{
	text-align: left;
	margin-bottom: 15px;
}
.header li a{
	text-decoration: none;
	margin-left: 5px;
	border-bottom: dashed 2px orange;
	margin-top: 5px;
}
.header li p{
	text-decoration: none;
	background-color: #5842ff;
	color: white;
	width: 50px;
	margin-top: 30px;
}
/*ログイン画面*/
.login-content{
	margin-top: 100px;
	margin-left: 40%;
	margin-bottom: 30px;
}
.login-title{
	margin-left: 70px;
	margin-bottom: 20px;
	font-size: 25px;
	font-weight: bold;
}
.login-item{
	font-size: 0;
	margin-left: -55px;
	margin-top: 0px;

}
.login-item li{
	display:inline-block;
	font-size: 15px;
	width: 25%;
	margin-right: -100px;
	margin-bottom: 10px;
}
.login-submit{
	margin-top: 30px;
	margin-left: 32px;
	padding: 15px 40px;
    font-size: 1.2em;
}

/*top画面*/
.search{
	background-color: #b5caff;
	height: 110%;
	width: 60%;
	border: ridge;
	border: solid white;
	border-radius: 40px;
	margin-top: 0px;
	margin-left: 30px;

}
.search-title{
	margin-top: 10px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 50px;
	font-size: 20px;
	font-weight: bold;
}
.search-category{
	margin-top: 20px;
	margin-right: 0px;
	margin-bottom: 10px;
	margin-left: 15px;

}
.search-category li{
	display:inline-block;
	margin-right: 20px;


}
.search-date{
	margin-top: 20px;
	margin-right: 20px;
	margin-bottom: 10px;
	margin-left: 35px;

}
.search-date li{
	display:inline-block;
	margin-right: 20px;


}
.search-date li a{
	margin-left: 30px;
	width: 400px

}
input#search-submit{
	margin-bottom: 5px;
	margin-left: 20px;
    font-size: 1.0em;
    font-weight: bold;
    padding: 4px 12px;

}
/*トップ画面(メッセージ)*/
.message{

}
.is-messege{
	background-color: white;
	height: 100%;
	width: 100%;
	border: ridge;
	border: solid white;
	margin-top: 20px;
	margin-bottom: 0px;
	word-break: break-all;
}
.message-user{
	list-style: none;
	background-color: white;
	height: 100%;
	width: 80%;
	border: ridge;
	border: solid white;
	margin-top: 10px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 5px;
}
.message-name{
	text-align: left;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: -30px;
}
.message-id{
	text-align: left;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: -30px;
}
.message-user li{
	text-align: left;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: -30px;
	font-size: 12px;

}
.message-user li p{
	font-size: 18px;
	font-weight: bold;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}

.message-item{
	margin-top: -7px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}
.message-item li{
	display: block;
	padding: 3px 10px;
	text-decoration: none;
	height: 100%;
	width: 98%;
	margin-top: 3px;
	margin-right: 0px;
	margin-bottom: 20px;
	margin-left: -17px;
	vertical-align: middle;
}

.message-item li p{
	border-bottom: solid 3px #87CEFA;
	margin-buttom: 0px;
	width: 52%;
}
.message-item li p a{
	margin-left: 17px;
	font-size: 15px;
	font-weight: bold;
}

.message-text{
	margin-top: -30px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;

}
.message-text li{
	display: block;
	padding: 3px 10px;
	text-decoration: none;
	height: 100%;
	width: 96%;
	margin-top: 3px;
	margin-right: 0px;
	margin-bottom: 10px;
	margin-left: -17px;
	vertical-align: middle;

}

.message-text li a{
	margin-top: 30px;
	font-weight: bold;
}


.message-category{
	margin-left: 30px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	border-top: solid 3px #87CEFA;
	width: 92.5%;
	height: 55px;
}

.message-category p{
	margin-top: 10px;
	margin-bottom: 0px;
	margin-right: 0px;
	text-align: right;

}

.message-button{
	text-align: right;
	margin-right: 43px;
}
.comment{
	margin-left: 30px;
	margin-top: -15px;
	margin-buttom: 20px;
}
.comment-submit{
	background-color: white;
	height: 100%;
	width: 95%;
	border: ridge;
	border: solid white;
	margin-bottom: 10px;
	margin-top: 10px;
	margin-right: 0px;
	margin-left: 24px;
}
.comment-submit a{
	margin-bottom: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-left: 0px;
}

.comment-submit-button{
	text-align: right;
	margin-right: 20px;
}

/*トップ画面(コメント)*/
.is-comment{
	background-color: white;
	height: 100%;
	width: 100%;
	border: ridge;
	border: solid white;
	margin-bottom: 5px;
	margin-top: 0px;
	margin-right: 0px;
	margin-left: 0px;
	word-break: break-all;
}
.comment-name{
	list-style: none;
	background-color: white;
	height: 100%;
	width: 80%;
	border: ridge;
	border: solid white;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 20px;

}
.comment-name li{
	text-align: left;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: -30px;
	font-size: 8px;
}
.comment-name li p{
	font-size: 15px;
	font-weight: bold;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}
.comment-text{
	border: 1px solid #9F99A3;
	border-radius: 10px;
	background-color: #f5f7ff;
	padding: 3px 10px;
	text-decoration: none;
	height: 100%;
	width: 88.2%;
	margin-top: 3px;
	margin-right: 0px;
	margin-bottom: 5px;
	margin-left: 55px;
	vertical-align: middle;
}
.comment-text a{
	margin-left: 10px;
}
.comment-button{
	text-align: right;
	margin-right: 40px;
	margin-top: -5px;
	margin-bottom: 10px;
}

.profile {
	margin-top: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
	margin-left: 10px;
	height: 100px;
}

.profile .profile-image {
	float: left;
}

.profile .name h2 {
	font-size: 30px;
	font-weight: bold;
	line-height: 36px;
	margin: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}

a.profile .account {
	font-size: 13px;
	line-height: 22px;
}

.profile .description {
	font-size: 13px;
	line-height: 22px;
}

.form-area {
	margin-top: 30px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}

.account-name .name {
	font-weight: lighter;
	color: gray;
	font: small-caption;
}

.message .date {
	font-weight: lighter;
	color: gray;
	font: small-caption;
}

.copyright {
	width: 250px;
	margin: 0 auto;
}

label {
	display: block;
}

/*管理画面用*/
.nav {
    display: table;
    width: 105%;
    background: #FFF;
    table-layout:fixed;
    border-collapse: collapse;
	border: solid 2px #6666ff;
	margin-top: 40px;
}
.nav tr{
}
.nav th{
	border: solid 2px #6666ff;

}
.nav td{
	border: dashed 1px #6666ff;
	border-bottom: solid 1px #6666ff;
	padding: 0px 30px 0px 15px;
	height: 50px;
}
.nav td p{
	text-area: center;
}
.nav_item {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    height: auto;
	width: 100%;
}
.nav_button {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    height: auto;
	width: 120%;
}
.nav_item + .nav_item {
    border-left: 2px solid #CCC;
}
.nav_item + .nav_button {
    border-left: 2px solid #CCC;
}
.nav_button + .nav_item {
    border-left: 2px solid #CCC;
}
.nav_item a {
    display: block;
    padding: 15px 0;
    color: #666;
    text-decoration: none;
    font-size: 14px;
}
.edit{
	list-style: none;
}
.edit li{
	display: inline;
	margin-top: 5px;
}
/*新規投稿*/
.newmessage{
	list-style: none;
}
.newmessage li{
	margin-bottom: 5px;
}

/*管理画面*/
.setting-item{
	list-style: none;
	margin: 0 0 13px 10px;
	padding: 0;
	width: 400px;

}
.setting-item li{
	display:inline-block;
	width: 180px;
}

input#submit{
    font-size: 0.8em;
    font-weight: bold;
    padding: 3px 12px;
}
input#login-submit{
    font-size: 0.8em;
    font-weight: bold;
    padding: 3px 12px;
    background-color: #ff8040;
    color: #363636;

}

